.App {
  font-family: sans-serif;
  text-align: center;
}

.customNavBar {
  background-color: teal;
}

html body {
  background-color: black;
  color: teal;
  min-width: 760px;
}

label {
  font-weight: bold;
}
.form-text {
  color: white;
  font-size: medium;
}

.customLabel {
  text-align: right;
}
.table {
  display: table;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: black;
  color: lightgray;
  font-size: 0.75rem;
}

.mycustombtn {
  background-color: teal;
}

.tableHead {
  color: teal;
  padding-right: 1%;
}

.customBorder {
  border-radius: 25px;
}
