.App {
  font-family: sans-serif;
  text-align: center;
}

.customNavBar {
  background-color: teal;
  font-weight: bolder;
}

body {
  background-color: black;
  background-image: url("./images/stock_background.png");
  color: teal;
  min-width: 760px;
}

label {
  font-weight: bold;
}
.form-text {
  color: white;
  font-size: medium;
}

.customLabel {
  text-align: right;
}
.table {
  display: table;
  width: 90%;
  margin-bottom: 2%;
  background-color: black;
  color: lightgray;
  font-size: 0.75rem;
}

.mycustombtn {
  background-color: teal;
}

.tableHead {
  color: teal;
  text-align: center;
}

.customBorder {
  border-radius: 25px;
  background-color: black;
  border: solid;
  text-align: center;
  border-color: lightgray;
}

.customText {
  color: lightgray;
  text-align: center;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

footer {
  color: white;
}
